/* ================================== Mobile First ==================================*/

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) {
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1280px) {
}

/* ********************************** Як по ДЗ ***********************************/

/* ================================== Mobile First ==================================*/

@media screen and (max-width: 767px) {
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) and (max-width: 1279px) {
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1280px) {
}
