.about-title {
  margin-bottom: 16px;
}

.title-underline {
  position: relative;
}

.title-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;
  display: block;
  width: 100%;
  height: 12px;
  background-color: #bee8cc;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .title-underline::after {
    height: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .title-underline::after {
    height: 20px;
  }
}

.about-secondary-title {
  max-width: 334px;
  margin-bottom: 40px;
  text-align: center;
  color: var(--black-transparrent-3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;

  @media screen and (min-width: 768px) {
    max-width: 658px;
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.67;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: item;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0px;
  }
}

.about-list-item::before {
  margin-bottom: 16px;
  display: block;
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  color: var(--green);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.56px;
}

.about-list-item {
  max-width: 335px;
  height: 160px;
  display: block;
  padding: 32px;

  background-color: var(--gray);
  border-radius: 16px;
  @media screen and (min-width: 768px) {
    border-radius: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 325px;
    height: 160px;
  }
}

.about-list-item-text {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.4px;
}
.about-image-tumb {
  background-color: var(--green);
  max-width: 335px;
  height: 313px;
  flex-shrink: 0;
  background-image: url('../../img/about/about-bg-image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 16px;
  @media screen and (min-width: 768px) {
    max-width: 704px;
    height: 243px;
    background-size: 254px 211px;
  }
  @media screen and (min-width: 1280px) {
    width: 310px;
    height: 352px;
    background-size: 254px 211px;
  }
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .about-image-tumb {
    background-image: url('../../img/about/about-bg-image@2x.png');
  }
}

@media screen and (min-width: 1280px) {
  .list-tump-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
