.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 138px;
}

.header-logo {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.header-logo-excellence {
  color: var(--green);
}

.header-nav-list {
  display: flex;
  gap: 20px;
}

.header-nav-list-item {
  flex-basis: calc((100% - 4 * 20) / 5);
}

.header-nav-list-link {
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.9;
  display: block;
  padding: 33px 0;
  position: relative;
}

.header-nav-list-link:hover::after {
  display: block;
  width: 37px;
  height: 2px;
  background-color: var(--green);
  content: '';
  position: absolute;
  bottom: 29px;
  left: 0;
}

.header-social-list {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1279px) {
  .header-nav-list {
    display: none;
  }
  .header-social-list {
    display: none;
  }
}

.header-social-link {
  width: 44px;
  height: 44px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-link:hover,
.header-social-link:focus {
  border-color: rgba(77, 194, 116, 0.1);
}

.header-social-icon {
  fill: var(--main-cl-black);
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-link:hover .header-social-icon,
.header-social-link:focus .header-social-icon {
  fill: var(--green);
}

.burger-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .burger-menu-btn {
    display: none;
  }
}

.burger-menu-icon {
  stroke: var(--main-cl-black);
}

@media screen and (min-width: 768px) {
  .burger-menu-icon {
    width: 40px;
    height: 28px;
  }
}

.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  border: none;
  background-color: transparent;
}

.mobile-menu-close-btn-icon {
  stroke: var(--white);
}

@media screen and (min-width: 768px) {
  .mobile-menu-close-btn-icon {
    width: 40px;
    height: 40px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  padding-top: 337px;
  padding-bottom: 32px;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-nav-list {
  text-align: center;
}

.mobile-nav-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-nav-list-link {
  position: relative;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
}

.mobile-nav-list-link:hover::after {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
}

.mobile-social-list {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.mobile-social-link {
  width: 42px;
  height: 42px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--white);
}

.mobile-social-icon {
  fill: var(--white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover .mobile-social-icon,
.mobile-social-link:focus .mobile-social-icon {
  fill: var(--green);
}

@media screen and (min-width: 768px) {
  .mobile-social-link {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-social-icon {
    width: 28px;
    height: 28px;
  }
}
