/* ================================== Mobile First ==================================*/
.hero-section {
  padding-top: 8px;
}

.hero-bg-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 72px 20px;
  width: 100%;
  height: 709px;
  background: linear-gradient(
      57deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../../img/hero-img/hero-mob.jpg'),
    lightgray -566px -29.886px / 332.537% 104.761%;
  background-repeat: no-repeat;
  border-radius: 16px;

  /* background-position: center;
  background-size: cover; */
}

/* 2x photo mobile background */
@media screen and (min-resolution: 192dpi) and (max-width: 767.8px),
  screen and (min-resolution: 2dppx) and (max-width: 767.8px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767.8px) {
  .hero-bg-container {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../../img/hero-img/hero-mob.jpg'),
      lightgray -566px -29.886px / 332.537% 104.761%;
  }
}

.hero-title {
  padding-bottom: 40px;
  color: var(--white);
  font-size: 38px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.05; /* 105.263% */
}

.hero-title-span {
  color: var(--sun-light-green);
  font-size: 38px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.05;
}

.hero-link-application {
  max-width: 295px;
  padding: 14px 64px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border-radius: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.71; /* 171.429% */
  color: var(--white);
}

.hero-link-application:hover,
.hero-link-application:active {
  background-color: var(--accent);
}

.hero-link-footer {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 49px;
  height: 49px;
  background-color: transparent;
  border-radius: 50%;
}
.hero-link-circle {
  position: absolute;
  right: 6px;
  bottom: 6px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
}

.hero-icon-arrow {
  width: 20px;
  height: 20px;
  fill: var(--green);
}

.hero-link-footer:hover,
.hero-link-footer:focus {
  background-color: var(--green);
}

.hero-link-footer:active {
  background-color: transparent;
}

.hero-link-footer:active .hero-link-circle {
  background-color: var(--green);
}

.hero-link-footer:active .hero-icon-arrow {
  fill: var(--white);
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 32px;
  }

  .hero-bg-container {
  }
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 16px;
  }

  .hero-bg-container {
  }
}
