/* common */
.title {
  color: var(--);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: -0.64px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
  }
}

.title__mod {
  position: relative;
}

.title__mod::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;
  display: block;
  width: 100%;
  height: 20px;
  background-color: var(--sun-light-green);
  border-radius: 8px;
}

@media screen and (max-width: 767.98px) {
  .title__mod::after {
    background-color: transparent;
  }
}

.subtitle {
  margin: 0 auto;
  color: var(--black-transparrent-3);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  display: block;
  max-width: 709px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.btn {
  display: inline-flex;
  width: 100%;
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 12px;
  background: var(--green);
  outline: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  transition: background-color var(--transition);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent);
}

.styled-link {
  color: inherit;
  text-decoration-line: underline;
  transition: color var(--transition);
}

.right-side__text-mod:hover,
.right-side__text-mod:focus {
  color: var(--green);
}

/*  */

/* page */

.submit__content {
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 32px;
  }
}

.submit__title {
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.submit__subtitle.subtitle {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.submit__left-side {
  max-width: 492px;

  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}

.left-side {
  border-radius: 30px;
  background: var(--green);
  padding-bottom: 40px;
  overflow: hidden;
}

.left-side__img {
  margin-bottom: 20px;
}

.left-side__content {
  padding: 0px 20px;
}

.left-side__title {
  color: var(--white);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.8px;
  margin-bottom: 8px;
}

.left-side__text {
  color: var(--white-transparrent-1);
  text-align: center;
  line-height: 1.5;
}

.form__group {
  position: relative;
  margin-bottom: 18px;
}

.input {
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--black-transparrent-1);
  padding: 16px 18px;
  line-height: 1.5;
  outline: none;
}

.input:focus {
  border-color: var(--sun-light-green);
}

.input:not(:placeholder-shown):valid {
  border-color: var(--green);
}

.input:not(:placeholder-shown):invalid:required {
  border-color: var(--alert);
}

.input__icon {
  position: absolute;
  top: 16px;
  right: 18px;
  fill: var(--alert);
  opacity: 0;
  transform: scale(0.2);
  pointer-events: none;
  transition: all var(--transition);
  cursor: pointer;
}

.input:not(:placeholder-shown):invalid:required + .input__icon {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.input__message {
  position: absolute;
  left: 8px;
  bottom: 5px;
  z-index: -10;
  font-size: 12px;
  color: var(--alert);
}

.form__group:has(.input:not(:placeholder-shown):invalid:required) {
  padding-bottom: 20px;
}

.input::placeholder {
  color: var(--black);
  line-height: 1.5;
}

.form .form__textarea {
  resize: none;
}

.form__radio {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 40px;
  }

  margin-bottom: 32px;
}

.radio__title {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.4px;
  margin-top: 32px;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.radio__list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }
}

.radio__input {
  display: none;
}

.radio__label {
  position: relative;
  color: var(--black);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.36px;
  padding-left: 32px;
  cursor: pointer;
}

.radio__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--black-transparrent-2);
}

.radio__input:checked + .radio__label::before {
  border-color: var(--green);
}

.radio__input:checked + .radio__label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--green);
}

.form__btn {
  margin-bottom: 16px;
}

.right-side__text {
  color: var(--black-transparrent-3);
  font-size: 14px;
  line-height: 1.71;
}
