.heading {
    color: var(--black);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.64px;
    margin-bottom: 16px;
}

.under-heading {
    max-width: 334px;
    color: var(--black-transparrent-3);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.review-card {
    border-radius: 16px;
    flex-shrink: 0;
    background-color: var(--gray);
    padding: 20px 20px 0px;
}

.student {
    height: 78px;
    border-radius: 8px;
    flex-shrink: 0;
    flex-wrap: wrap;
    background-color: var(--green);
    padding: 14px 18px;
    gap: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
}


.student-name {
    color: var(--white);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin: 4px 0px 0px;
}

.supporting-text {
    color: var(--white-transparrent-2);
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.student-cell {
    display: block;
}

.review-photo {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
}

.review-text {
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-bottom: 40px;
    color: var(--black-transparrent-3);
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: block;
}

@media screen and (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }

    .tablet-hidden {
        display: none;
    }
}

/* ============ Tablet Style ============ */

@media screen and (min-width: 768px) {
    
    .heading {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.8px;
    }

    .under-heading {
        max-width: 647px;
        font-size: 18px;
        line-height: 30px;
    }

    .review-card {
        max-width: 336px;
        padding: 32px 16px 0px;
        border-radius: 30px;
    }

    .student {
        padding: 16px 18px;
        border-radius: 15px;
        margin-bottom: 32px;
    }

    .reviews-list {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .review-text {
        padding-left: 16px;
        padding-right: 16px;
    }

    .text {
        font-size: 16px;
    }

    .mobile-hidden {
        display: block;
    }

    .tablet-hidden {
        display: none;
    }
}

/* ============ Desktop Style ============ */

@media screen and (min-width: 1280px) {

    .heading {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.8px;
    }

    .review-card {
        max-width: 320px;
        border-radius: 30px;
    }

    .student {
        border-radius: 15px;
    }

    .mobile-hidden {
        display: block;
    }

    .tablet-hidden {
        display: block;
    }
}