.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: var(--black);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.64px;
    margin-bottom: 0px;
}

.under-heading {
    color: var(--black-transparrent-3);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 335px;
    margin: 16px 0px 40px;
}

.reviews-list {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 32px;
    padding: 0;
}

.review-card {
    width: 335px;
    height: 278px;
    border-radius: 16px;
    flex-shrink: 0;
    background-color: var(--gray);
}

.student {
    width: 295px;
    height: 78px;
    border-radius: 8px;
    flex-shrink: 0;
    flex-wrap: wrap;
    background-color: var(--green);
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.student-name {
    color: var(--white);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin: 18px 0px 0px;
}

.supporting-text {
    color: var(--white-transparrent-2);
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 0px;
}

.student-cell {
    display: block;
}

.review-photo {
    margin: 14px 8px 14px 14px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
}

.supporting-list {
    padding: 0px;
}

.review-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 267px;
    color: var(--black-transparrent-3);
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: block;
}

@media screen and (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }

    .tablet-hidden {
        display: none;
    }
}

/* ============ Tablet Style ============ */

@media screen and (min-width: 768px) {
    .heading {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.8px;
    }

    .under-heading {
        font-size: 18px;
        line-height: 30px;
        width: 647px;
    }

    .review-card {
        width: 336px;
        height: 326px;
        border-radius: 30px;
    }

    .student {
        margin: 32px 16px 0;
        width: 304px;
        border-radius: 15px;
    }

    .reviews-list {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .review-photo {
        margin: 14px 8px 14px 16px;
    }

    .text {
        margin-top: 32px;
        width: 272px;
        font-size: 16px;
    }

    .mobile-hidden {
        display: block;
    }

    .tablet-hidden {
        display: none;
    }
}

/* ============ Desktop Style ============ */

@media screen and (min-width: 1280px) {

    .heading {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.8px;
    }

    .review-card {
        width: 320px;
        height: 326px;
        border-radius: 30px;
    }

    .student {
        margin: 32px 16px 0;
        width: 288px;
        border-radius: 15px;
    }

    .text {
        width: 256px;
        font-size: 16px;
    }

    .mobile-hidden {
        display: block;
    }

    .tablet-hidden {
        display: block;
    }
}