<section class="about section-about-us" id="about-us">
  <div class="about-container container">
    <h2
      data-aos="zoom-in"
      data-aos-duration="500"
      class="about-title section-title"
    >
      About <span class="title-underline">Us</span>
    </h2>
    <h3 class="about-secondary-title">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </h3>
    <div class="list-tump-wrapper">
      <ol class="about-list list">
        <li data-aos="fade-up" data-aos-duration="300" class="about-list-item">
          <p class="about-list-item-text">Expert, innovative teaching staff</p>
        </li>
        <li
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-delay="300"
          class="about-list-item"
        >
          <p class="about-list-item-text">
            Wide range of course levels and options
          </p>
        </li>
        <li
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-delay="600"
          class="about-list-item"
        >
          <p class="about-list-item-text">Multicultural learning environment</p>
        </li>
        <li
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-delay="900"
          class="about-list-item"
        >
          <p class="about-list-item-text">
            Comprehensive language support services
          </p>
        </li>
      </ol>
      <div class="about-image-tumb"></div>
    </div>
  </div>
</section>
