<header class="page-header">
  <div class="page-header-container container">
    <nav class="page-header-nav">
      <a href="" class="header-logo link"
        >english<span class="header-logo-excellence">excellence</span>.</a
      >
      <ul class="header-nav-list list">
        <li class="header-nav-list-item">
          <a href="#about-us" class="header-nav-list-link link">About us</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#our-lessons" class="header-nav-list-link link"
            >Our lessons</a
          >
        </li>
        <li class="header-nav-list-item">
          <a href="#our-teachers" class="header-nav-list-link link">Teachers</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#reviews" class="header-nav-list-link link">Reviews</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#leave-an-application" class="header-nav-list-link link"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-social-list list">
      <li class="header-social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header-social-link link"
          target="_blank"
        >
          <svg
            class="header-social-icon"
            width="40"
            height="40"
            aria-label="facebook icon"
          >
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header-social-link link"
          target="_blank"
        >
          <svg
            class="header-social-icon"
            width="40"
            height="40"
            aria-label="instagram icon"
          >
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header-social-link link"
          target="_blank"
        >
          <svg
            class="header-social-icon"
            width="40"
            height="40"
            aria-label="youtube icon"
          >
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      class="burger-menu-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="burger-menu-icon"
        width="32"
        height="23"
        aria-label="mobile menu icon"
      >
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>

<!-- MOBILE MENU -->

<div class="backdrop js-menu-container">
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <button type="button" class="mobile-menu-close-btn js-close-menu">
      <svg
        class="mobile-menu-close-btn-icon"
        width="32"
        height="32"
        aria-label="modal window close icon"
      >
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mobile-nav-list list">
        <li class="mobile-nav-list-item">
          <a href="#about-us" class="mobile-nav-list-link link current"
            >About us</a
          >
        </li>
        <li class="mobile-nav-list-item">
          <a href="#our-lessons" class="mobile-nav-list-link link"
            >Our lessons</a
          >
        </li>
        <li class="mobile-nav-list-item">
          <a href="#our-teachers" class="mobile-nav-list-link link">Teachers</a>
        </li>
        <li class="mobile-nav-list-item">
          <a href="#reviews" class="mobile-nav-list-link link">Reviews</a>
        </li>
        <li class="mobile-nav-list-item">
          <a href="#leave-an-application" class="mobile-nav-list-link link"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <ul class="mobile-social-list list">
      <li class="mobile-social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="mobile-social-link link"
          target="_blank"
        >
          <svg
            class="mobile-social-icon"
            width="26"
            height="26"
            aria-label="facebook icon"
          >
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="mobile-social-link link"
          target="_blank"
        >
          <svg
            class="mobile-social-icon"
            width="26"
            height="26"
            aria-label="instagram icon"
          >
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="mobile-social-link link"
          target="_blank"
        >
          <svg
            class="mobile-social-icon"
            width="26"
            height="26"
            aria-label="youtube icon"
          >
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
