<section class="hero-section">
  <div class="hero-container">
    <div class="hero-bg-container">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="hero-title-span">English</span> with us!
      </h1>
      <a class="hero-link-application link" href="#application-form">
        Leave an application
      </a>

      <a href="#footer" class="hero-link-footer link">
        <svg class="hero-icon-arrow">
          <use href="../img/sprite.svg#icon-scroll"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
