<section class="section" id="our-lessons">
  <div class="container">
    <h2 data-aos="zoom-in" data-aos-duration="500" class="lessons-head">Our <span class="title-underline">lessons</span></h2>
    <h3 class="lessons-text">
      Our lessons are carefully structured and interactive, designed to
      promote rapid language acquisition through practical tasks and
      real-world scenarios
    </h3>

    <ul class="list lessons-list">
      <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" class="lessons-list-item">
        <div class="lessons-list-container">
          <h4 class="lessons-h">Practice</h4>
          <p class="lessons-price">40$ / month</p>
          <p class="lessons-p">This plan offers an opportunity for learners to engage in collaborative language exercises and group activities, boosting their conversational skills and confidence in using English.</p>
          <button type="button" class="lessons-btn">
            <a class="lessons-btn-a link" href="#leave-an-application">
              Leave an application
            </a>
          </button>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="600" class="lessons-list-item">
        <div class="lessons-list-container">
          <h4 class="lessons-h">Standart</h4>
          <p class="lessons-price">70$ / month</p>
          <p class="lessons-p">Our standard package provides a balanced learning approach that covers all key areas of English language - reading, writing, listening, and speaking.  It is a set of basic knowledge and skills.</p>
          <button type="button" class="lessons-btn">
            <a class="lessons-btn-a link" href="#leave-an-application">
              Leave an application
            </a></button>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="900" class="lessons-list-item">
        <div class="lessons-list-container">
          <h4 class="lessons-h">Individual</h4>
          <p class="lessons-price">99$ / month</p>
          <p class="lessons-p">We offer a tailored learning experience with individualized instruction that focuses on a learner's specific language goals and challenges, offering personal feedback.</p>
          <button type="button" class="lessons-btn">
            <a class="lessons-btn-a link" href="#leave-an-application">
              Leave an application
            </a></button>            
          </button>
        </div>
      </li>            
    </ul>
  </div>
</section>