<
<section class="section-teachers section" id="our-teachers">
  <div class="container">
    <h2 class="teachers-title">
      Meet our <span class="head_mod">teachers</span>
    </h2>
    <p class="teachers-subtitle">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <li class="teachers-item">
        <img
          class="teachers-image"
          srcset="./img/submit/teacher-maria-2x.png 2x"
          src="./img/submit/teacher-maria-1x.png"
          alt="photo Maria"
          width="150"
          height="150"
        />
        <div class="teachers-wrapper">
          <h3 class="teachers-specialist">Maria</h3>
          <p class="teachers-job-title">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>
      <li class="teachers-item">
        <img
          class="teachers-image"
          srcset="./img/submit/teacher-artem-2x.png 2x"
          src="./img/submit/teacher-artem-1x.png"
          alt="photo Artem"
          width="150"
          height="150"
        />
        <div class="teachers-wrapper">
          <h3 class="teachers-specialist">Artem</h3>
          <p class="teachers-job-title">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>
      <li class="teachers-item">
        <img
          class="teachers-image"
          srcset="./img/submit/teacher-ilona-2x.png 2x"
          src="./img/submit/teacher-ilona-1x.png"
          alt="photo Ilona"
          width="150"
          height="150"
        />
        <div class="teachers-wrapper">
          <h3 class="teachers-specialist">Ilona</h3>
          <p class="teachers-job-title">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>
      <li class="teachers-item">
        <img
          class="teachers-image"
          srcset="./img/submit/teacher-volodymyr-2x.png 2x"
          src="./img/submit/teacher-volodymyr-1x.png"
          alt="photo Volodymyr"
          width="150"
          height="150"
        />
        <div class="teachers-wrapper">
          <h3 class="teachers-specialist">Volodymyr</h3>
          <p class="teachers-job-title">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
