      <section class="our-lessons" id="our-lessons">
        <div class="container">
          <h2 class="lessons-head">Our lessons</h2>
          <h3 class="lessons-text">
            Our lessons are carefully structured and interactive, designed to
            promote rapid language acquisition through practical tasks and
            real-world scenarios
          </h3>

          <ul class="list lessons-list">
            <li class="lessons-list-item">
              <div class="lessons-list-container">
                <h4 class="lessons-h">Practice</h4>
                <p class="lessons-price">40$ / month</p>
                <p class="lessons-p">This plan offers an opportunity for learners to engage in collaborative language exercises and group activities, boosting their conversational skills and confidence in using English.</p>
                <button type="button" class="lessons-btn">Leave an application</button>
              </div>
            </li>

            <li class="lessons-list-item">
              <div class="lessons-list-container">
                <h4 class="lessons-h">Standart</h4>
                <p class="lessons-price">70$ / month</p>
                <p class="lessons-p">Our standard package provides a balanced learning approach that covers all key areas of English language - reading, writing, listening, and speaking.  It is a set of basic knowledge and skills.</p>
                <button type="button" class="lessons-btn">Leave an application</button>
              </div>
            </li>

            <li class="lessons-list-item">
              <div class="lessons-list-container">
                <h4 class="lessons-h">Individual</h4>
                <p class="lessons-price">99$ / month</p>
                <p class="lessons-p">We offer a tailored learning experience with individualized instruction that focuses on a learner's specific language goals and challenges, offering personal feedback.</p>
                <button type="button" class="lessons-btn">Leave an application</button>
              </div>
            </li>            
          </ul>
        </div>
      </section>