<section class="proposal-section">
    <div class="container">
        <div class="proposal">
            <h3 class="proposal-header">
                Master the <span class="language-color">Language</span> with Our English
                Package!
            </h3>

            <div class="proposal-cards">
                <div class="first-card"></div>

                <div class="second-card"></div>
                <div class="visible-card">
                    <h2 class="proposal-title">Power of English</h2>
                    <ul class="proposal-list">
                        <li class="proposal-item">
                            <svg class="icon-check">
                                <use href="../img/sprite.svg#icon-check"></use>
                            </svg>
                            <p class="proposal-description">
                                Dive into captivating lessons designed to stimulate your curiosity.
                            </p>
                        </li>
                        <li class="proposal-item">
                            <svg class="icon-check">
                                <use href="../img/sprite.svg#icon-check"></use>
                            </svg>
                            <p class="proposal-description">
                                Learn in a nurturing setting where every student's progress matters.
                            </p>
                        </li>
                        <li class="proposal-item">
                            <svg class="icon-check">
                                <use href="../img/sprite.svg#icon-check"></use>
                            </svg>
                            <p class="proposal-description">
                                Experience the satisfaction of real progress as your language skills and confidence grow
                                with every session.
                            </p>
                        </li>
                    </ul>
                    <div class="proposal-img">

                    </div>
                    <button type="button"  class="proposal-btn">Leave an application</button>
                </div>
            </div>
        </div>
    </div>
</section>