<section class="reviews-section section">
    <div class="container reviews-container">
        <h2 class="heading">What our <span class="head_mod">students</span> say</h2>
        <h3 class="under-heading">Hear from our students about their learning journey with us, as they share their
            experiences, progress, and the transformative impact</h3>


        <ul class="reviews-list list">
            <li class="review-card">
                <div class="student">
                    <img class="review-photo" src="./img/reviews/img-5.png" alt="Anna" width="264" height="260">
                    <ul class="supporting-list list">

                        <li class="student-list">
                            <p class="student-name">Anna</p>
                        </li>
                        <li>
                            <p class="supporting-text">Student</p>
                        </li>
                    </ul>
                </div>
                <div class="review-text">
                    <p class="text">My experience at the language school has been nothing short of amazing. The teachers
                        are dedicated and the learning environment is stimulating. I feel more confident in my English
                        skills.</p>
                </div>
            </li>

            <li class="review-card mobile-hidden">
                <div class="student ">
                    <img class="review-photo" src="./img/reviews/img-6.png" alt="Mykhailo" width="264" height="260">
                    <ul class="supporting-list list">

                        <li class="student-list">
                            <p class="student-name">Mykhailo</p>
                        </li>

                        <li>
                            <p class="supporting-text">Student</p>
                        </li>
                    </ul>
                </div>
                <div class="review-text">
                    <p class="text">The school offers a great balance of language theory and practical exercises. The
                        personalized feedback from the teachers has helped me improve my weak areas.</p>
                </div>
            </li>

            <li class="review-card mobile-hidden tablet-hidden">
                <div class="student">
                    <img class="review-photo" src="./img/reviews/img-7.png" alt="Victoria" width="264" height="260">
                    <ul class="supporting-list list">
                        <li class="student-list">
                            <p class="student-name">Victoria</p>
                        </li>
                        <li>
                            <p class="supporting-text">Student</p>
                        </li>
                    </ul>
                </div>
                <div class="review-text">
                    <p class="text">I love the dynamic and interactive teaching methods used here. It's a great place to
                        learn English in a fun and effective way. I have definitely seen a big improvement in my
                        language skills.</p>
                </div>
            </li>
        </ul>
    </div>
</section>