@import url('./utils/variables.css');

@import url('./base/reset.css');
@import url('./base/common.css');
@import url('./base/section.css');
@import url('./base/container.css');

@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/about-us.css');
@import url('./layout/our-lessons.css');
@import url('./layout/proposal.css');
@import url('./layout/our-teachers.css');
@import url('./layout/leave-an-application.css');
@import url('./layout/reviews.css');
@import url('./layout/footer.css');
